# 1. ë°ì´í„° í™•ì¸

In [35]:
import pandas as pd
import numpy as np
# from matplotlib import pyplot as plt
# import seaborn as sns

## 1-1. ë°ì´í„° ê°€ì ¸ì˜¤ê¸°

In [3]:
wanted_nps_df = pd.read_csv("../company_nps_data.csv", encoding='cp949')

In [4]:
wanted_nps_df.head()

     íšŒì‚¬ID      ì—°ë§¤ì¶œì•¡    ë…„ë„   ì›”  ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ  ì›”ë³„_ì§ì›ìˆ˜
0  233757  41688077  2018   7   8912380      36
1  123464   1760695  2018   3    942380       5
2  342124   3221341  2018   7    781180       4
3  386420   4815584  2015  11   3795900      14
4  129243   9799736  2018  10  40724680     151

In [5]:
wanted_nps_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99801 entries, 0 to 99800
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   íšŒì‚¬ID      99801 non-null  int64
 1   ì—°ë§¤ì¶œì•¡      99801 non-null  int64
 2   ë…„ë„        99801 non-null  int64
 3   ì›”         99801 non-null  int64
 4   ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ  99801 non-null  int64
 5   ì›”ë³„_ì§ì›ìˆ˜    99801 non-null  int64
dtypes: int64(6)
memory usage: 4.6 MB

In [6]:
wanted_nps_df.shape

(99801, 6)

## 1-2. ì—°ë„

In [7]:
year = list(wanted_nps_df.ë…„ë„.unique())
year = sorted(year)
year = list(map(str, year))
print(year)

['2015', '2016', '2017', '2018', '2019']

## 1-3. ì—°ë§¤ì¶œì•¡

In [21]:
sales = list(wanted_nps_df.ì—°ë§¤ì¶œì•¡)
sales_mean = pd.Series(sales)
sales_mean = sales_mean.mean()
print(sales_mean)

30535893.434244145

In [24]:
sales_max = pd.Series(sales)
sales_max = sales_max.max()
print(sales_max)

11328779396

In [25]:
sales_min = pd.Series(sales)
sales_min = sales_min.min()
print(sales_min)

-7882176

## 1-4. ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ

In [8]:
print((wanted_nps_df['ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ'] == 0).values.sum())

13

â˜‘ï¸ ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œê°€ `0`ì›ì¸ ê²½ìš°ê°€ `13`ê±´ í¬í•¨ë˜ì–´ ìˆë‹¤.

In [17]:
premium = list(wanted_nps_df.ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ)
# print(len(premium))
for i in premium:
    if i == 0:
        premium.remove(0)

In [18]:
premium_mean = pd.Series(premium)
premium_mean = premium_mean.mean()
print(premium_mean)

9735347.33274542

In [19]:
premium_max = pd.Series(premium)
premium_max = premium_max.max()
print(premium_max)

978067260

In [26]:
premium_min = pd.Series(sales)
premium_min = premium_min.min()
print(premium_min)

-7882176

## 1-5. ì›”ë³„_ì§ì›ìˆ˜

In [10]:
print((wanted_nps_df['ì›”ë³„_ì§ì›ìˆ˜'] == 0).values.sum())

13

â˜‘ï¸ ì›”ë³„_ì§ì›ìˆ˜ê°€ `0`ëª…ì¸ ê²½ìš°ê°€ `13`ê±´ í¬í•¨ë˜ì–´ ìˆë‹¤.

In [14]:
employee = list(wanted_nps_df.ì›”ë³„_ì§ì›ìˆ˜)
# print(len(employee))
for i in employee:
    if i == 0:
        employee.remove(0)

In [15]:
employee_mean = pd.Series(employee)
employee_mean = employee_mean.mean()
print(employee_mean)

37.62833206397563

In [16]:
employee_max = pd.Series(employee)
employee_max = employee_max.max()
print(employee_max)

3133

In [27]:
employee_min = pd.Series(employee)
employee_min = employee_min.min()
print(employee_min)

3

## 1-6. íšŒì‚¬ID

In [12]:
comp_id = list(wanted_nps_df.íšŒì‚¬ID.unique())
comp_id = sorted(comp_id)

# comp_id = pd.Series(wanted_nps_df.íšŒì‚¬ID.unique())
# comp_id = comp_id.sort_values()
# display(comp_id)
print(len(comp_id))

5000

In [13]:
wanted_nps_df['íšŒì‚¬ID'].value_counts()

# len(set(wanted_nps_df['íšŒì‚¬ID']))

155754     50
237625     50
296819     50
395238     50
442525     50
           ..
2256869     1
573311      1
317847      1
440452      1
1983879     1
Name: íšŒì‚¬ID, Length: 5000, dtype: int64

In [34]:
is_zero = (wanted_nps_df['ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ'] == 0)
zero = wanted_nps_df[is_zero]
zero
zero_list = list(zero.íšŒì‚¬ID.unique())
print(len(zero_list))

         íšŒì‚¬ID      ì—°ë§¤ì¶œì•¡    ë…„ë„   ì›”  ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ  ì›”ë³„_ì§ì›ìˆ˜
4450   478999    394790  2016   3         0       0
6162   568445    740245  2018  10         0       0
7251   288014   3709457  2016  11         0       0
12176  568445    740245  2018   8         0       0
20070  550603    416881  2018   1         0       0
33869  439536    237277  2016  10         0       0
39671  602137    892176  2018   6         0       0
49592  291968   4059302  2016   4         0       0
54026  277054     95478  2016   5         0       0
64139  472629   1915700  2018   1         0       0
69239  157237  27020003  2017   5         0       0
82809  217292    245945  2016   6         0       0
93481  288014   3709457  2016   1         0       0

â˜‘ï¸ ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œê°€ `0`ì›ì¸ ê²½ìš°ë¥¼ í™•ì¸í•˜ë©´ì„œ,<br>
ã€€ã€€ë™ì‹œì— ì›”ë³„_ì§ì›ìˆ˜ê°€ `0`ì›ì¸ ê²ƒì„ ì•Œ ìˆ˜ ìˆì—ˆë‹¤.<br>
ã€€ã€€ê·¸ caseëŠ” ì´ `13`ê°€ì§€ ì˜€ê³ ,<br>
ã€€ã€€ì¤‘ë³µë˜ì—ˆë˜ ê²ƒì„ ê³ ë ¤í•œë‹¤ë©´ `11`ê°€ì§€ê°€ ëœë‹¤.<br>

â˜‘ï¸ íšŒì‚¬IDëŠ” ì¤‘ë³µì—†ì´ `4988`ê°œì´ë‹¤.<br>

### ğŸ’¡ check!
ğŸ’  ì—°ë„ëŠ” `2015`, `2016`, `2017`, `2018`, `2019` ê¹Œì§€ ë‚˜íƒ€ë‚œë‹¤.<br>
ğŸ’  ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œê°€ 0ì›ì´ë©´ì„œ,<br>
ã€€ã€€ì›”ë³„_ì§ì›ìˆ˜ê°€ 0ì¸ ë°ì´í„°ê°€ ìˆëŠ” ê²ƒì„ í™•ì¸í–ˆìœ¼ë‹ˆ, ê³ ë ¤í•˜ì.<br>
ğŸ’  íšŒì‚¬ID column ì—ëŠ” ì¤‘ë³µì—†ì´ íšŒì‚¬ID ê°€ ë‚˜ì—´ë˜ì–´ìˆëŠ” ê²ƒì´ ì•„ë‹ˆë‹¤.<br>
ã€€ã€€(ìµœëŒ€ 50ê°œì›”ì˜ ì •ë³´ë¥¼ ê°€ì§€ê³  ìˆëŠ” ê²½ìš°)<br>

### ğŸ“ summary
#### ğŸ’  ì—°ë§¤ì¶œì•¡
- í‰ê·  : 30535893ì²œì› (â‚© 30,535,893,000)<br>
- ìµœëŒ€ê°’ : 11328779396ì²œì› (â‚© 11,328,779,396,000)<br>
- ìµœì†Ÿê°’ : -7882176ì²œì› (â‚© -7,882,176,000)<br>

#### ğŸ’  ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ
- í‰ê·  : 9735347 (â‚© 9,735,347)<br>
- ìµœëŒ€ê°’ : 978067260 (â‚© 978,067,260)<br>
- ìµœì†Ÿê°’ : -7882176 (â‚© -7882176)<br>

#### ğŸ’  ì›”ë³„_ì§ì›ìˆ˜
- í‰ê·  : 37ëª…<br>
- ìµœëŒ€ê°’ : 3133ëª…<br>
- ìµœì†Ÿê°’ : 3<br>